export ANSIBLE_BECOME_PASSWORD_FILE="./.password"
export ANSIBLE_INVENTORY="./inventory.ini"
export KUBECONFIG=$PWD/terraform/files/kubeconfig
export INCUS_TOKEN_FILE=./incus-token.txt
export INCUS_SERVER_HOST=k3s
export INCUS_SERVER_USER=k3s
export K3S_MASTER_HOSTNAME=k3s-master
export TAILSCALE_TAILNET=prefeitura-rio.org.github
export TAILSCALE_DOMAIN=squirrel-regulus.ts.net
export TF_VAR_cluster_name=k3s

use flake
dotenv_if_exists .env
