.direnv
.env
.password
**/files/kubeconfig
**/.terraform
**/*.tfstate*
**/*.tfplan*
**/files/nameserver_ip.txt
.k3s/*
!.k3s/.gitkeep
scripts/pyrightconfig.json
live/*/terraform.tfvars.json
!live/*/terraform.tfvars.sops.json
.terragrunt-cache/
live/**/.terraform.lock.hcl
/scripts/__pycache__
.pre-commit-config.yaml
*.plan
