.direnv
.env
.password
incus-token.txt
**/files/kubeconfig
**/.terraform
**/*.tfstate*
**/*.tfplan*
**/files/nameserver_ip.txt
.k3s/kubeconfig.sops
.k3s/incus-token.sops
terraform/terraform.tfvars.json
!terraform/terraform.tfvars.json.sops
