[defaults]
stdout_callback      = default
result_format        = yaml
inject_facts_as_vars = true

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=accept-new
