global:
  airbyteUrl: ${airbyte_url}
  edition: ${edition}
  auth:
    enabled: false

server:
  nodeSelector:
    kubernetes.io/hostname: ${airbyte_worker}
  tolerations:
    - key: "airbyte"
      operator: "Equal"
      value: "dedicated"
      effect: "NoSchedule"

  resources:
    requests:
      cpu: "500m"
      memory: "2Gi"
    limits:
      cpu: "1000m"
      memory: "4Gi"

temporal:
  nodeSelector:
    kubernetes.io/hostname: ${airbyte_worker}
  tolerations:
    - key: "airbyte"
      operator: "Equal"
      value: "dedicated"
      effect: "NoSchedule"

  resources:
    requests:
      cpu: 300m
      memory: 1Gi
    limits:
      cpu: 1000m
      memory: 2Gi

workloadLauncher:
  nodeSelector:
    kubernetes.io/hostname: ${airbyte_worker}
  tolerations:
    - key: "airbyte"
      operator: "Equal"
      value: "dedicated"
      effect: "NoSchedule"

  resources:
    requests:
      cpu: 500m
      memory: 2Gi
    limits:
      cpu: 2000m
      memory: 4Gi

podSweeper:
  nodeSelector:
    kubernetes.io/hostname: ${airbyte_worker}
  tolerations:
    - key: "airbyte"
      operator: "Equal"
      value: "dedicated"
      effect: "NoSchedule"
  resources:
    requests:
      cpu: 50m
      memory: 128Mi
    limits:
      cpu: 200m
      memory: 256Mi

metrics:
  nodeSelector:
    kubernetes.io/hostname: ${airbyte_worker}
  tolerations:
    - key: "airbyte"
      operator: "Equal"
      value: "dedicated"
      effect: "NoSchedule"
  resources:
    requests:
      cpu: 50m
      memory: 128Mi
    limits:
      cpu: 200m
      memory: 512Mi

cron:
  nodeSelector:
    kubernetes.io/hostname: ${airbyte_worker}
  tolerations:
    - key: "airbyte"
      operator: "Equal"
      value: "dedicated"
      effect: "NoSchedule"
  resources:
    requests:
      cpu: 50m
      memory: 128Mi
    limits:
      cpu: 800m
      memory: 1Gi

workloadApiServer:
  nodeSelector:
    kubernetes.io/hostname: ${airbyte_worker}
  tolerations:
    - key: "airbyte"
      operator: "Equal"
      value: "dedicated"
      effect: "NoSchedule"

  resources:
    requests:
      cpu: "300m"
      memory: "1Gi"
    limits:
      cpu: "1000m"
      memory: "2Gi"

airbyteBootloader:
  nodeSelector:
    kubernetes.io/hostname: ${airbyte_worker}
  tolerations:
    - key: "airbyte"
      operator: "Equal"
      value: "dedicated"
      effect: "NoSchedule"

connectorBuilderServer:
  nodeSelector:
    kubernetes.io/hostname: ${airbyte_worker}
  tolerations:
    - key: "airbyte"
      operator: "Equal"
      value: "dedicated"
      effect: "NoSchedule"
